html,
body {
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}
* {
  font-family: inherit;
}
.btn-ss {
  position: absolute;
  bottom: 1.2rem;
}
.btn-sl {
  position: absolute;
  bottom: 1.2rem;
  right: 1rem;
}
.gg {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 0.8rem;
  width: 100%;
  background-color: white;
  color: blueviolet;
}
.gg1 {
  font-size: 1.1rem;
  font-weight: bold;
}
.index {
  padding: 0.2rem;
}
.todo {
  padding: 0.2rem;
}
#formdiv {
  width: 30rem;
}
#btn-upd{
  position: absolute;
bottom: 1.2rem;
left: 8rem;
}
@media (max-width: 500px) {
  #outer-div {
    max-width: 20rem;
  }
  #formdiv {
    max-width: 75% !important;
  }
  .btn-ss {
    position: absolute;
    bottom: 0.6rem;
  }
  #btn-upd{
    position: absolute;
  bottom: 0.6rem;
  left: 5rem;
  }
  .btn-sl {
    position: absolute;
    bottom: 0.6rem;
    right: 1rem;
  }
}
#btn-del{
    position: absolute;
  bottom: 1.2rem;
  left: 10rem;
}


